/***************************************************/
/*--------------------- GALERIA --------------------/
/***************************************************/   

.gallery-content{
    display: grid;
    grid-row-gap: 20px;
}

.gallery-row-1{
    display: grid;
    grid-template-columns: 1fr;
}

.gallery-row-2{
    display: grid;
    grid-template-columns: 1fr;
}

.gallery-img-1,
.gallery-img-2,
.gallery-img-3,
.gallery-img-4,
.gallery-img-5,
.gallery-img-6,
.gallery-img-7{
  img{
    width: 100%;
  }
}

.gallery-img-4,
.gallery-img-5,
.gallery-img-6,
.gallery-img-7{
  img{
    display: none;
  }
}

.gallery-img-1{
    position: relative;
}

.album-caption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.5)));
    /* background-image: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.5) 100%); */
    background-repeat: repeat-x;
    color: #fff;
    text-align: left;
    /*text-transform: uppercase;*/
    font-weight: 700;
    /*padding: 60px 0px 20px 20px;*/
    -webkit-transition: .3s;
    transition: .3s;
    /*-webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);*/
}

@media screen and (min-width: 768px){
    .gallery-row-1{
        grid-template-columns: 1fr 1fr;
    }
    .gallery-row-2{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery-row-3{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .gallery-img-1{
        position: relative;
    }
    .album-caption{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2px;
        top:0;
        background-color: rgba(0,0,0,0);
        /* background-image: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.5) 100%); */
        background-repeat: repeat-x;
        color: rgba(255,255,255,0);
        text-align: left;
        /*text-transform: uppercase;*/
        font-weight: 700;
        /*adding: 60px 0px 20px 20px;*/
        -webkit-transition: .3s;
        transition: .3s;
        font-size: 22px;
        /*-webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
        transform: translateY(60px);*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gallery-img-1:hover .album-caption{
        background-color: rgba(0,0,0,0.8);
        color: rgba(255,255,255,1);
    }
}