*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: $fuenteTexto;
    font-size: 16px;
}
h1,h2,h3,h4,h5{
    font-family: $fuenteTitulo;
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;  
}

.section-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.title-line{
    border: 1px solid $colorPrincipal;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.btn-border{
    display: inline-block;
    border: 2px solid $colorPrincipal;
    padding: 10px 30px;
}

.btn-text{
    color: $colorPrincipal;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (min-width: 992px){
    p{
        font-size: 18px;
        line-height: 25px;
    }
    .title-line{
        margin-bottom: 30px;
    }
    .section-title{
        font-size: 45px;
    }
}

@media screen and (min-width: 1200px){
    .section-title{
        font-size: 55px;
    }
    .title-line{
        border: 2px solid $colorPrincipal;
        width: 100px;
        margin-bottom: 50px;
        margin-top: 10px;
    }
}
